{% extends 'index.html' %}


{% block content %}
<section class="login-section section-padding" id="section_4">
    <div class="container">
        <div class="m-auto col-lg-4 col-md-6 col-8">
            <form method="post">
                <div id="captcha-container">
                    <label for="username">CAPTCHA</label>
                    <img src="{{ url_for('static', filename='imgcaptcha/image.png') }}" alt="CAPTCHA Image">
                    <button type="button" onclick="refreshCaptcha()">Refresh</button>
                </div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Log In">
            </form>
            <span class="badge tooplate-red">

                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </span>

        </div>
        <script>
            function refreshCaptcha() {
                // Make an AJAX request to your Flask route to refresh the CAPTCHA image
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "{{ url_for('auth.login') }}", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Update the src attribute of the captcha image with the new image URL
                        document.getElementById("captcha-image").src = "{{ url_for('static', filename='imgcaptcha/image.png') }}";
                    }
                };
                xhr.send();
            }
        </script>
    </div>
</section>
{% endblock %}