<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} - Graphical Authentication System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <h1>Graphical Authentication System</h1>
        <ul>

            {% if session['user_id'] == 'Login_Succes' %}
            <li><span>{{ session['user_id'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">

        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}

        <h2>Welcome to Graphical Authentication System!</h2>
        <p>This is a sample website for demonstration purposes.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt sem non sem lacinia, id fermentum
            metus placerat. Nunc nec enim sit amet elit eleifend varius. Integer scelerisque, nisi et dapibus auctor,
            enim elit mattis mi, in vulputate felis ex nec quam.</p>
        <p>Sed vehicula ligula id elit suscipit scelerisque. Donec varius, ipsum sed tincidunt fermentum, eros velit
            volutpat eros, vitae placerat purus mi eu purus. Nullam dictum sem ut magna consectetur, ut dapibus elit
            facilisis. Integer fermentum eros sed eleifend posuere.</p>
        {% endblock %}
    </section>


    <footer>
        <p>&copy; 2024@Graphical_Authentication_System. All rights reserved.</p>
    </footer>
</body>

</html>